<div class="row" >
{% for recipe in recipes %}
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <div class="col l4 s6 recipe-card-js">
        {% include 'main/recipe-card.html.twig' with {'recipe': recipe} %}
    </div>
{% endfor %}
</div>


