<div class="row  radio-button">
    <div class="col l2 s6">
        <input class="tag-radio" type="radio" id="american" name="recipe-tag" value="American">
        <label class="tag-radio-label" for="american">American</label>
    </div>
    <div class="col l2 s6">
        <input class="tag-radio" type="radio" id="greek" name="recipe-tag" value="Greek">
        <label class="tag-radio-label" for="greek">Greek</label>
    </div>
    <div class="col l2 s6">
        <input class="tag-radio" type="radio" id="mexican" name="recipe-tag" value="Mexican">
        <label class="tag-radio-label" for="mexican">Mexican</label>
    </div>
    <div class="col l2 s6">
        <input class="tag-radio" type="radio" id="vegan" name="recipe-tag" value="Vegan">
        <label class="tag-radio-label" for="vegan">Vegan</label>
    </div>
    <div class="col l2 s6">
        <input class="tag-radio" type="radio" id="drinks" name="recipe-tag" value="Drinks">
        <label class="tag-radio-label" for="drinks">Drinks</label>
    </div>
</div>



