.logo-img{
    float: left;
}

.recipe-search-selector{
    display: block;
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background-color: #f2f2f2;
}

.btn-cart{
    height: 43px;
    margin-top: 30px;
    line-height: 40px;
    background-color: #007bff;
    float: right;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    width: 200px;
}

.btn-cart:hover{
    color: #007bff;
    background-color: white;
    border-color: #007bff;

}

.tag-radio{
    opacity: 1 !important;
    margin-left: 40px;
}

.tag-radio-label{
    margin-left: 70px;
    font-size: 20px;
    line-height: 0;
}

.radio-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-recipe{
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
    height: 600px;
    position: relative;
    width: 400px;
    border-radius: 7px;
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    margin: 0 0 30px;
}

.active, .card-recipe:hover{
    border-color: #B0413E;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
}

.card .card-title{
    font-size: 24px;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.card-img-top{
    text-align: center;
    display: block;
    vertical-align: bottom;

    margin-left: 8px;
    height: 200px;
    width: 398px;
}

.img-row{
    position: absolute;
    width: 50%;
    bottom: 10px;
}

#card-text{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}