.logo-img{
    float: left;
}

.recipe-search-selector{
    display: block;
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background-color: #f2f2f2;
}

.btn-cart, .btn-add{
    height: 43px;
    margin-top: 30px;
    line-height: 40px;
    background-color: #007bff;
    float: right;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    width: 200px;
}

.btn-logout {
    height: 43px;
    margin-top: 30px;
    line-height: 40px;
    background-color: #007bff;
    float: right;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    width: 100px;
}

.btn-cart:hover, .btn-add:hover, .btn-logout:hover{
    color: #007bff;
    background-color: white;
    border-color: #007bff;

}

.tag-radio{
    opacity: 1 !important;
    margin-left: 40px;
}

.tag-radio-label{
    margin-left: 70px;
    font-size: 20px;
    line-height: 0;
}

.radio-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-recipe{
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
    height: 600px;
    position: relative;
    width: 400px;
    border-radius: 7px;
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    margin: 0 0 30px;
}

.active, .card-recipe:hover{
    border-color: #B0413E;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
}

.card .card-title{
    font-size: 24px;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.modal-card-title{
    font-size: 24px;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.card-img-top{
    text-align: center;
    display: block;
    vertical-align: bottom;

    margin-left: 8px;
    height: 200px;
    width: 398px;
}

.img-row{
    position: absolute;
    width: 50%;
    bottom: 10px;
}

#card-text{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

#modal-card-text{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.card-img-right{
    float: right;
    margin-right: 8px;
    height: 200px;
    width: 300px;
}

.btn-load{
    color: white;
    border-color: white;
    background-color: #007bff;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    height: 35px;
    line-height: 29px;
    width: 100px;
    font-size: 12px;
    padding: 1px;
    z-index: 0;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.btn-load:hover {
    color: #007bff;
    background-color: white;
    border-color: #007bff;

}

.btn-search{
    color: white;
    border-color: white;
    background-color: #007bff;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    height: 35px;
    line-height: 29px;
    width: 100px;
    font-size: 12px;
    padding: 1px;
    z-index: 0;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.btn-search:hover {
    color: #007bff;
    background-color: white;
    border-color: #007bff;

}

#form-log-in{
    width: 400px;
}

.card-log-in{
    border-radius: 7px;
    padding: 20px;
    float: none;
    margin: 100px auto auto;
}

.log-in-heading{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bolder;
}

.btn-sign-in{
    color: white;
    border-color: white;
    background-color: #007bff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 13px;
}

.btn-sign-in:hover{
    color: #007bff;
    border-color: #007bff;
    background-color: white;
    border-style: solid;
    border-width: 1px;
}


input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #007bff;
    -webkit-box-shadow: 0 1px 0 0 #007bff;
    box-shadow: 0 1px 0 0 #007bff;
}

input[type=password]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #007bff;
    -webkit-box-shadow: 0 1px 0 0 #007bff;
    box-shadow: 0 1px 0 0 #007bff;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color: #9e9e9e;
}

input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color: #007bff;
}

.log-in-labels{
    border: none;
}

.alert{
    color: white;
    text-align: center;
    background-color: red;
    border-radius: 7px;
}

.success-message{
    background-color: green;
    font-weight: bolder;
    color: white;
    text-align: center;
    border-radius: 7px;
}

select:focus{
    outline: 1px solid #007bff;
}

