.logo-img{
    float: left;
}

.recipe-search-selector{
    display: block;
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background-color: #f2f2f2;
}

.btn-cart{
    height: 43px;
    margin-top: 30px;
    line-height: 40px;
    background-color: #007bff;
    float: right;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
}

.btn-cart:hover{
    color: #007bff;
    background-color: white;
    border-color: #007bff;

}

.tag-radio{
    opacity: 1 !important;
    margin-left: 40px;
}
.tag-radio-label{
    margin-left: 70px;
    font-size: 20px;
    line-height: 0px;
}
.radio-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}